[2016-02-19 08:23] gnorby88 opened #3 "is_callable"
In the Job Model is_callable method always return true.
https://github.com/mmucklo/DtcQueueBundle/blob/master/Model/Job.php#L348
Use is_callable method without true (syntax only) parameter:
`if (!is_callable(array($this->worker, $method)))`

And in the documentacion have a typo:

[code]

It is dtc not dat:
`<tag name="dtc_queue.worker" />`

[2017-08-17 16:47] mmucklo commented on #3
Closed in PR #7

[2017-08-17 16:47] #3 closed

[2017-10-20 12:14] wzele opened #15 "Impossible to run command with Symfony 2 (duplicate option)"
Hi,

I get an error when I launch a command.
Here the message : "An option with shortcut "s" already exists."
In your commands, you use the option '-s' for nano_sleep but this option is already use in  the FrameworkBundle for the shell Option.
This option is removed in 3.0

Thank you

[2017-10-27 08:22] mmucklo commented on #15
Okay, let me make a fix, thanks for letting me know...

[2017-10-27 08:50] mmucklo commented on #15
I think this is fixed now for 2.2.0, please verify.

[2017-10-28 18:26] #15 closed

[2018-01-15 22:48] Gounlaf opened #36 "[CLI] CountCommand: field "error" doesn't exist anymore"
`$ sf dtc:queue:count`

    In CountCommand.php line 39:

     Notice: Undefined index: error

[2018-01-15 22:52] Gounlaf commented on #36
:)

[2018-01-15 22:52] #36 closed

[2018-01-15 22:53] mmucklo commented on #36
tagged in 4.0.2

[2018-01-16 20:18] Siba94 opened #38 "ns does not exist."
I am using ** 4.0 ** version of this bundle and whenever I run console command ** dtc:queue:count **, it gives me a exception -> ** ns doesn't exist. **

[2018-01-16 20:20] #38 closed

[2018-01-16 20:21] Siba94 opened #39 "ns doesn't exist."
I am using **4.0** version of this bundle and whenever I run console command **dtc:queue:count**, it gives me a exception -> **ns doesn't exist.**

[2018-01-17 06:29] mmucklo commented on #39
I'll take a look

[2018-01-17 09:20] mmucklo commented on #39
May have fixed it in the PR, but I'll have to check it later...signing off for now.

[2018-01-17 14:44] mgolshan-talentnet opened #41 "Detached document cannot be removed"
Hello.
This bundle looks smart and improvable.
I tried a very basic worker based on the example you put in README and it worked well. But, when I try to run a worker which manipulates DB documents, I face to an error.
I'm getting the error `Detached document cannot be removed`.

This is the trace of error:
[code]

Any idea?

[2018-01-17 16:37] mmucklo commented on #41
Thanks, let me take a look...

You're manipulating objects in Mongo, correct?

[2018-01-17 16:37] mmucklo commented on #39
Please check if the issue is fixed in 4.1.0

[2018-01-17 16:39] mmucklo opened #42 "Enhancement: better Redis JobManager statistics"
Enhancement:

Unlike RabbitMQ and Beanstalk, it should be fairly easy to keep track of Failure, Exception, etc. counts in Redis.

[2018-01-17 16:46] mgolshan-talentnet commented on #41
Correct.
Actually, there is a process which might manipulate or not the MongoDB documents. In general, there is a communication with MongoDB.
However, I even tried to return true without taking any action with MongoDB. I still get the same error.
The status of the `job` document is changed to `running` but, it won't be moved to `job_archive` collection

[2018-01-17 17:00] mmucklo commented on #41
Okay, I just created a test for this and couldn't reproduce it.  Are you maybe resetting the doctrine internal cache somehow when you're doing your DB manipulations?

[code]

[2018-01-17 17:04] mmucklo commented on #41
You wouldn't happened to be calling "clear()" on the DocumentManager would you?  That would certainly do it...

Here's a similar issue where they were doing clear() after flush()
https://github.com/theofidry/AliceDataFixtures/issues/51

[2018-01-17 17:58] mgolshan-talentnet commented on #41
Good point.
Let me take a look.
I'll update you

[2018-01-18 05:07] mmucklo commented on #39
@Siba94 did the fix I did work?

[2018-01-18 05:33] mmucklo commented on #41
@mgolshan-talentnet did the suggestion work?

[2018-01-18 05:45] Siba94 commented on #39
checking it right now. i'll let you know about it.

[2018-01-18 06:14] Siba94 commented on #39
No, still have the same issue.
I am following the documentation as mentioned for symfony3
Steps are :
1- Composer require.
2- Register the bundle in AppKernel.
3- Set up config.yml for MongoDB ODM
4- Set up routes in routing.yml
5- Set up security.yml to allow admins.
and then while doing dtc:queue:count it gives exception **ns doesn't exist**.

[2018-01-18 06:31] mmucklo commented on #39
@Siba94 - Oh I know what's going on - the database and collection don't exist yet in Mongo.

If you create then run a job, it should fix that, however I should see if there's a way to catch that before executing the count command.

[2018-01-18 11:16] Siba94 commented on #39
Thanks a lot. @mmucklo

[2018-01-18 13:19] mgolshan-talentnet commented on #41
Looks like you are right.
I am trying to fix the logic.
Once I got all working, I'll let you know. I'd like to share with you if anything else comes up.

[2018-01-18 15:28] mgolshan-talentnet commented on #41
It works now.
I had to define a separate document manager which was a bit tricky.
Also, I definitely needed to use the version 4.0 of your library.
Thanks for your great bundle and being supportive

[2018-01-19 14:33] #41 closed

[2018-01-21 10:31] Siba94 commented on #39
@mmucklo Let me check. I will update you.

[2018-01-22 02:21] mmucklo commented on #39
@Siba94 Ok, thanks, let me know...

[2018-01-22 05:43] mmucklo commented on #42
Should be addressed in 4.3.0 release

[2018-01-22 05:43] #42 closed

[2018-01-22 05:48] mmucklo opened #45 "Redis-based RunManager, JobTimingManager, JobArchive support"
Consider adding a Redis-based RunManager plus a JobTimingManager that is Redis-based, and JobArchive support for the Redis JobManager, which should also allow for Stalled Job support and related functions.

[2018-01-22 05:49] mmucklo opened #46 "Redis GridSource / Admin"
Consider adding a Redis GridSource so that the jobs that are in Redis can be viewed in the Admin interface.

[2018-01-22 06:19] mmucklo opened #47 "Create Job administrative interface"
Admin interface to create a new Job.

[2018-01-22 06:27] mmucklo opened #48 "Clear Archived Jobs, Archived Runs button"
There should be a button on the admin interface to delete all Archived Jobs / Runs.

[2018-01-22 06:28] mmucklo opened #49 "Clear Stalled Runs"
There should be a button on the Admin interface to clean out Stalled runs

[2018-01-22 16:53] Siba94 commented on #39
@mmucklo still have the same issue. I had a job collection also as mentioned by you before running the count command create job first but when I run the **count** command it still generates the same exception.
 I can see the jobs in waiting queue by following /dtc_queue/jobs route.
![selection_018](https://user-images.githubusercontent.com/12645991/35232969-da5efc64-ffc2-11e7-82c0-6c21a552402e.png

[2018-01-23 07:03] mmucklo commented on #39
Ok, let me check it out.

[2018-01-23 07:10] mmucklo commented on #39
@Siba94,

I think I got it this time in 4.3.1 - yours is responding "ns doesn't exist" whereas mine was responding "namespace does not exist".

The code should now catch both.

Let me know,

--Matt

[2018-01-24 08:45] mmucklo commented on #39
@Siba94 - did 4.3.1 fix the issue for you?

[2018-01-24 18:08] lukassykora opened #50 "Error in later() function"
Please, when I try put item to worker I get this error:
Symfony\Component\Debug\Exception\UndefinedMethodException:
Attempted to call an undefined method named "setDelay" of class "AppBundle\Worker\ApiWorker".

Please, what could be wrong? I have Symfony 3.4.

[2018-01-24 19:04] lukassykora commented on #50
Sorry, my fault. Solved

[2018-01-24 19:04] #50 closed

[2018-01-25 05:56] Siba94 commented on #39
@mmucklo let me check it

[2018-01-25 07:15] mmucklo commented on #39
@Siba94 - ok thanks once again...

[2018-01-25 21:47] Gounlaf opened #51 "[Question/Bug] About error catching"
Hi @mmucklo,

I'm encountering a weird issue: when an error happen, not "all the stack" is logged.
As example, I have an issue with a doctrine entity, which prevent it to be persisted correctly.

If I catch and dump manually the exception, I got full details.

But in logs, I got only:

Everything is rollback, entity manager is closed, so the job status is not set to "exception".

If I don't "logs"

[2018-01-26 08:53] Siba94 commented on #39
Thanks a lot @mmucklo it's working perfectly.

[2018-01-26 14:31] makasim opened #52 "Consider using queue interprop as abstraction for queues"
Hello!

Please look at https://github.com/queue-interop/queue-interop project. Using interfaces from it allows us reuse some implementations like enqueue, which supports a lot of transports. You can outsource some code

[2018-01-26 16:57] mmucklo commented on #39
@Siba94 - good news thanks.  Closing the issue.

[2018-01-26 16:57] #39 closed

[2018-01-27 18:22] mmucklo commented on #51
@Gounlaf - Sorry for the delay in reply.

If there's an exception it can sometimes close the entity manager and it has to be reopened to continue.  Is it your code causing the exception or the queue itself?

[2018-01-27 23:55] mmucklo commented on #51
@Gounlaf - I suppose there’s a trick I could do to see if the Entity Manager was closed and then try to reopen it.  The only problem is it might mask other issues - but it may help your problem...

[2018-01-27 23:56] mmucklo commented on #52
@makasim - I could certainly take a look and see how it would be possible...

[2018-01-28 12:39] Gounlaf commented on #51
@mmucklo What do you mean?

[2018-01-28 13:39] Gounlaf commented on #51
Btw, since EM is defined in config (dtc_queue[orm][entity_manager]=default), Now I think I should use two differents EM: one for the queue (that will have no reason to be closed), another one the job itself.
So queue can continue to execute jobs, even if there are error during their execution

[2018-01-28 21:34] mmucklo commented on #51
@Gounlaf - I have a PR open which should provide a fix, regardless.

I will probably merge it later today after trying to write a test for it.

[2018-01-29 04:37] mmucklo commented on #51
@Gounlaf - can you see if 4.4.0 fixes the issue for you?

[2018-01-29 13:36] makasim commented on #52
@mmucklo feel free to ask any questions.

[2018-01-31 06:58] mmucklo commented on #51
@Gounlaf, any word?

[2018-01-31 07:17] Gounlaf commented on #51
Sorry @mmucklo I haven't tested yet. Will do today evening

[2018-01-31 21:05] Gounlaf commented on #51
@mmucklo It seems to be working as expected :)

I've deliberately create a UniqueConstraintViolationException with my entity, and job status correctly set to "exception".

Thanks for taking care of my request!

[2018-02-01 09:16] mmucklo commented on #51
@Gounlaf, you’re welcome!

[2018-02-01 09:16] mmucklo commented on #51
@Gounlaf, you’re welcome!

[2018-02-01 09:16] #51 closed

[2018-02-02 07:15] mmucklo opened #55 "ORM - can see Integrity constraint violations"
Maybe redo how archiving works and use an auto_increment field?

[2018-02-02 09:34] #55 closed

[2018-03-03 18:02] grekpg opened #59 "rabbitmq example dont work..."
i use symfony 3.4
my config

dtc_queue:
    manager:
        job: rabbit_mq
    rabbit_mq:
        host: rabbitmq
        port: 5672
        user: root
        password: 123
#        vhost: "/" [optional defaults to "/"]
#        ssl: [optional defaults to false - toggles to use AMQPSSLConnection]
#        options: [optional options to pass to AMQPStreamConnection or AMQPSSLConnection]
#        ss

[2018-03-04 04:20] mmucklo commented on #59
Hm, let me take a look.

[2018-03-05 05:42] mmucklo commented on #59
I tried to reproduce this, but couldn't.

First you don't need --id=rabbit_mq

Here's an example

[code]

Here's my config.yml for rabbit_mq:

[code]

Could you check your configuration and let me know.

Also /dtc_queue/jobs won't work for rabbit_mq as I don't have an elegant way to iterate through all the jobs in rabbit_mq, but I'm open to suggestion...

[2018-03-06 06:21] mmucklo commented on #59
@grekpg did you see my last comment?  Have you had a chance to review the settings?

[2018-03-08 13:29] pverdu opened #60 "Possibility to save exception message rather then the whole stack"
Hi,

I was wondering if there is a possibility to save only the exception message of a job rather then the whole stack trace.
I'm trying to decorate the 'dtc_queue.manager.worker' service so i can implement my own DecoratingWorkerManager where is can se the exceptionMessage to the message only, but this isn't really working atm.

Have any ideas how i can fix this?

[2018-03-09 12:36] pverdu commented on #60
I solved this by doing the following, but maybe there is an easier solution at hand.

`# Override default WorkerManager service to use a custom class
  dtc_queue.manager.worker:
    public: true
    class: CoreBundle\Manager\QueueWorkerManager
    arguments:
        - '@dtc_queue.manager.job'
        - '@dtc_queue.event_dispatcher'
    calls:
        - [ "setLogger", ['@?logger'] ]
    tags: [{ na

[2018-03-11 19:43] mmucklo commented on #60
I can make it an option - maybe that would perhaps be useful to someone in the future...

[2018-03-12 08:26] pverdu commented on #60
@mmucklo Would be really nice yeah. I fixed it now by overwriting the service and works quite nice. If you can make it an option to set 'class.worker_manager' it could help alot of people in the future.

[2018-03-12 08:26] #60 closed

[2018-05-11 13:48] mmucklo commented on #59
@grekpg I'm closing this since I haven't heard anything.

[2018-05-11 13:48] #59 closed

[2018-05-15 21:09] andrzej-tracz opened #63 "Notice: Undefined variable: newArchive"
Hello,
I utilizing this bundle with Symfony 4, php7.2 on ubuntu, and ORM as queue job manager, after runing
command:
php bin/console dtc:queue:run --max-count 20 -vvv
I getting following error:

  [ErrorException]
  Notice: Undefined variable: newArchive

Full stack trace:
21:04:29 DEBUG     [dtc_queue] Dtc\QueueBundle\Manager\WorkerManager::addWorker - Added worker: command_worker
[]
[]
21:04:29

[2018-05-21 11:50] Nebojsaa opened #65 "How to setup my service in this bundle ?"
I have to set up a job manager for the console command that I have created.
The console command needs from 20 - 30 minutes to finish.
This console command is writing into the database multiple queries and let's assume that it can't be shrink-ed to a less time.

I have all created in Symfony2.8, but I am a really newbie using it.
So I [enter link description here][1]

  [1]: https://github.com/mmuc

[2018-05-24 16:17] mmucklo commented on #63
Sorry for the delay, your fix seemed right so I merged it.

[2018-05-24 16:17] #63 closed

[2018-05-24 16:20] mmucklo commented on #65
@Nebojsaa - sorry for the delay in reply.

I'm not quite sure what you're asking.  Are you trying to get things to happen in the background recurring, or are you trying to setup a new job that you offload work on and you want to call that from within a controller or another service?

Do you have any example code for what you're trying to do?

[2018-05-28 05:33] Siba94 opened #66 "Queued job method name as "undefined""
Hello @mmucklo, I am getting an issue after creating queued jobs. Unable to guess what is going on. After running "dtc:queue:run" command the method name changes to "undefined"

1- Suppose I am creating a job to notify users about "X" action.
![selection_105](https://user-images.githubusercontent.com/12645991/40598462-78967f60-6265-11e8-95db-0575c0c5a331.png)
3- After running "dtc:queue:run", I am

[2018-05-28 05:56] Siba94 commented on #66
Hello @mmucklo, Its a problem around cache i.e If the cache directory didn't have the writeable permission, then this issue comes up. Closing this

[2018-05-28 05:56] #66 closed

[2018-05-28 13:50] mmucklo commented on #66
@Siba94 thanks for the report - is there anything I need to do?

Is there some way this can be caught in the future (and maybe a more appropriate error message pops up?)

[2018-05-29 08:09] Siba94 commented on #66
Hello @mmucklo, For now, it's working in my case but still, If you can do something like ignoring the cache directory while running that "queue: run" command or a check for permission of cache directory because changing method name to "undefined " directly is difficult for someone to find the actual reason behind it. I think you can understand what I mean to say.
If something better is there in yo

[2018-06-04 07:02] fliespl opened #67 "Unreliable timezone handling in ORM database"
I am setting correct timezone inside project Kernel constructor as follows:

[code]

Unfortunately bundle doesn't save dates properly.

You can see that dates in started_at & last_heartbeat_at are much different (last heartbeat is proper one: http://ss.codeone.pl/ss-2018-06-04_09-00-35-EFHNkF_N.png ).

Version 4.5.2

[2018-06-04 07:13] fliespl commented on #67
Another is job_archive:

http://ss.codeone.pl/ss-2018-06-04_09-13-00-njqWcSYK.png
created_at, started_at, updated_at, finished_at.

[2018-06-06 16:55] shfrancis opened #68 "The service "dtc_queue.manager.run.orm" has a dependency on a non-existent service "doctrine""
I get the following error when I run the command `bin/console cache:clear`

I am using mongo-odm.

  _The service "**dtc_queue.manager.run.orm**" has a dependency on a non-existent service "doctrine"._

**Versions for packages:**

        "symfony/framework-bundle": "^4.0",
        "mmucklo/queue-bundle": "^4.5",
        "doctrine/mongodb-odm": "^1.2",
        "doctrine/mongodb-odm-bundle": "^3.4"

[2018-06-06 17:37] mgolshan-talentnet commented on #68
I am wondering why it's trying to load the service **dtc_queue.manager.run.orm** and not **dtc_queue.manager.run.odm**

[2018-06-07 02:27] mmucklo commented on #68
@mgolshan-talentnet Thanks for reporting - let me see if I can replicate.

[2018-06-07 02:28] mmucklo commented on #67
@filespl thanks for reporting.  Let me look into it - did you find the problem anywhere, btw?

[2018-06-07 04:04] mmucklo commented on #67
@fliespl - never mind, I was able to reproduce.

[2018-06-07 18:42] mmucklo commented on #65
@Nebojsaa since I haven't heard back I'm going to go ahead and close this issue.

[2018-06-07 18:42] #65 closed

[2018-06-07 18:43] mmucklo opened #71 "Better messaging when cache is not writeable"
See issue #66

[2018-06-12 00:20] kralos opened #72 "Call to undefined method Dtc\QueueBundle\ODM\JobManager::pruneErroneousJobs()"
| Q             | A             |
| ------------- | ------------- |
| Version       | 4.5.3         |
| Persistance   | ODM           |

config:

[code]

`console -v dtc:queue:prune error` causes `Call to undefined method Dtc\QueueBundle\ODM\JobManager::pruneErroneousJobs()`

[2018-06-12 00:20] kralos opened #73 "Call to undefined method Dtc\QueueBundle\ODM\RunManager::pruneJobTimings()"
| Q             | A             |
| ------------- | ------------- |
| Version       | 4.5.3         |
| Persistance   | ODM           |

config:

[code]
`console -v dtc:queue:prune old_job_timings --older '2018-06-12'` causes `Call to undefined method Dtc\QueueBundle\ODM\RunManager::pruneJobTimings()`

[2018-06-12 04:29] mmucklo commented on #72
@kralos thanks for reporting, I'll take a look

[2018-06-12 04:40] kralos commented on #72
FYI, not sure if you would rather steer ODM users away from prune and instead point the in the direction of TTL indexes: https://docs.mongodb.com/manual/core/index-ttl/

[2018-06-12 05:01] kralos commented on #72
[code]

[2018-06-12 05:53] mmucklo commented on #72
Suggested heeded (README.md updated) and issue fixed as of 4.6.0

[2018-06-12 05:53] mmucklo commented on #73
Should be fixed as of 4.6.0

[2018-06-12 07:12] #72 closed

[2018-06-12 07:12] #73 closed

[2018-06-19 22:15] Lobosque opened #74 "dtc:queue:run - infinite duration"
I think it would be a good idea to be able to let the queue run jobs indefinitely, either with `-d 0` or with no argument at all.

[2018-06-20 00:50] mmucklo commented on #74
One may have to be watchful for memory leaks, bu that's certainly possible.

[2018-06-20 17:06] Lobosque opened #75 "Can't use phpredis auth"
Whenever I try to set phpreadis auth to anything other than `~`, I get the following error when trying to run any queue-related command:

[code]

My configuration is:

[code]

I'm not sure what is going on. It is somehow expecting an array but from what I can see from the bundle tests it should be a string.

[2018-06-21 05:08] mmucklo commented on #75
@Lobosque thanks, I'll take a look.

[2018-06-21 05:12] mmucklo commented on #75
@Lobosque - Should be fixed in version #4.6.1

[2018-06-21 11:49] Lobosque commented on #75
@mmucklo Awesome! Thank you for fixing this so promptly! This bundle is already amazing and only improving 👍

[2018-06-21 11:56] Lobosque opened #77 "Suggestion: Only generate migrations if ORM is configured as queue"
I'm new to symfony and not sure what would be the best way to handle this, but I just noticed that `make:migration` generates a few tables for the `DtcQueueBundle`. However, I believe they (or at least some of them) won't ever be used if using other transport layer than the ORM.
I wonder if it would be a good idea to somehow check the configuration to see if ORM is set before adding those tables t

[2018-06-21 15:06] mmucklo commented on #75
@Lobosque great, thanks for your kind words.

[2018-06-21 15:06] #75 closed

[2018-06-21 15:16] mmucklo commented on #77
That's a good point.  I don't quite know how to get Doctrine / Doctrine Migrations to exclude certain directories programmatically, but I can look into it.

[2018-06-22 03:01] mmucklo commented on #74
should be fixed in 4.7.0

[2018-06-22 03:01] mmucklo commented on #77
Added a comment to the readme about using schema_filter in your config file.  That may be all I can reasonably do for now...

[2018-06-22 07:17] kralos opened #79 "When using a custom Document / Entity for a Job, Grid is broken"
When extending the built in models as suggested in the README, the `grid_source` is not registered correctly with `DtcGridBundle`. This causes Class dtc_queue.grid_source.jobs_waiting.odm does not exist on the route `dtc_grid_data` which is ajax'd in on `dtc_queue_jobs` etc...

[2018-06-22 07:28] kralos commented on #79
https://github.com/mmucklo/DtcQueueBundle/pull/80

[2018-06-22 15:35] mmucklo commented on #79
Thanks for the catch.

In the future I suppose maybe I should make a test case for this exact issue.

[2018-06-22 15:36] mmucklo commented on #79
Merged and tagged in 4.7.1

[2018-06-22 20:21] mgolshan-talentnet opened #81 "The worker is not being detected while running (ODM)"
Hey.
I am using Doctrine ODM.
I'm able to enqueue a job. But, when I run, I get an error due to not detecting the worker
[code]

I tried to dump the workers in the logs. But, it's an empty array.

This is what I have in my yaml services:
[code]
(I tried to set the `public` to `false` too. I got the same error.)

And, in my Worker Class, I have this for the name:
[code]

Any idea?

[2018-06-23 16:08] mmucklo commented on #81
Hi can you look in your symfony cache directory and grep for the following:

For example:
[code]

You should see something like this:

[code]

Second can you show me what's being enqueued into your datastore's dtc_queue_job table/collection/etc after you enqueue a job?

E.g.

[code]

[2018-06-23 16:08] mmucklo commented on #79
@kralos can you confirm it's fixed?

[2018-06-23 16:09] #77 closed

[2018-06-24 22:40] kralos commented on #79
Yep, just did some testing this morning and it is fixed

[2018-06-25 03:05] mmucklo commented on #79
@kralos Thanks, good to hear.

[2018-06-25 03:05] #74 closed

[2018-06-25 12:45] mgolshan-talentnet commented on #81
Hey @mmucklo.
Thanks for taking a look quickly.
Actually, when I run the command `grep -r addWorker *` I just get a file matched result like this: `Binary file profiler/24/df/40df24 matches`

It does not show any info in the terminal.
However, I opened the file and there is a bunch of serialized data there.
I tried to find the `addWorker` place and prettified around it and you can find it here:
[c

[2018-06-25 16:45] mmucklo commented on #81
Ok, @mgolshan-talentnet,

From the Mongo query it looks like the mongo query is being done on the wrong worker name (GoogleJobMatch instead of MyCustom).

What's the command line you're using to run things?

[2018-06-25 16:48] mgolshan-talentnet commented on #81
Oh. I'm sorry for the confusion. Actually, the class name is `GoogleJobMatchWorker` and the worker name is `GoogleJobMatch`

I renamed all the names to `MyCustom` before pasting them here. I missed that one.

[2018-06-25 16:50] mmucklo commented on #81
@mgolshan-talentnet ok.

So it looks like there's nothing in the cache directory when you did a grep - are you sure that's the right symfony cache directory for your app?

Also are you passing any WorkerName or MethodName filters during your "dtc:queue:run"

[2018-06-25 17:13] mgolshan-talentnet commented on #81
As an update, this time, I run the command and passed the `worker-name` argument. it didn't throw the exception message in terminal. But, in DB, it stored the same exception as `message`

[2018-06-25 20:07] mmucklo commented on #81
@mgolshan-talentnet

So when the cache is warmed up there should be an addWorker method call added to the instantiation of the WorkerManager.

Do you have the ability to do any debugging?

I could should you some areas to trace to see what’s going on...

If you can xdebug and step through code that’s the best, if not maybe doing some var_dumps or print outs could work.

[2018-06-25 20:13] mgolshan-talentnet commented on #81
Sure.
FYI, in `vendor/mmucklo/queue-bundle/Manager/WorkerManager.php`, inside the method `runJob`, I added this line:
`$this->log('debug', "Workers: {" . var_export($this->getWorkers(), true) . '}', [$job->getWorkerName()]);`

It always returns an empty array.

I really appreciate your help.
I'm available tomorrow to do more debugging if tell me what in where should be dumped.
Or, I can provide yo

[2018-06-25 20:15] mmucklo commented on #81
The code to trace is starting around line 114 in this file -

https://github.com/mmucklo/DtcQueueBundle/blob/master/DependencyInjection/Compiler/WorkerCompilerPass.php#L114

You need to make sure the code on line 128 is called for your service.

You could try doing a cache:clear then calling dtc:queue:run with some var_dump statements around there to see if that’s the case.

If not then there coul

[2018-06-25 20:17] mmucklo commented on #81
@mgolshan-talentnet

I could do a remote debug tomorrow if still needed at 7a PST, but would need to know tonight.

If there’s a way to PM me on github please do so with further details on how to reach you.

[2018-06-25 20:31] mgolshan-talentnet commented on #81
7am PST sounds great.
Looks like `setupTaggedServices` is not being called.
I don't think I can send you any private message.
Please send me an email to mgolshan-at-talentnet.com (replace `-at-` with `@`)

Tomorrow morning, I send you team viewer connection details. (btw, I'll remove my email address from this comment after your confirmation 😉 )

[2018-06-26 04:59] mmucklo commented on #81
Sent instructions to reach me.

[2018-06-26 14:41] mmucklo commented on #81
Okay to close the loop on this, the issue was in symfony 4 - adding a worker service to the dtc_queue.yaml file directly doesn't seem to work, in that symfony doesn't seem to pick it up as it isn't registered as a tagged services.

If you add it to services.yaml instead, it seems to be fine.

[2018-06-26 14:42] mgolshan-talentnet commented on #81
Yes.
And, thanks for helping on that and saved my life 😉

[2018-06-26 14:42] #81 closed

[2018-06-27 07:17] kralos opened #82 "Allow for cli enqueuing of jobs with non-string arguments"
Given the following job:
[code]

It is NOT currently possible to manually enqueue one of these via cli with:

[code]

as the args are interpreted as:
[code]

A solution to this would be to allow a single json encoded string to be passed as the args to the cli.

Please see https://github.com/mmucklo/DtcQueueBundle/pull/83

[2018-06-27 07:22] kralos commented on #82
@mmucklo This is a draft, please don't merge yet. I'd like to know what you think / what others think of this idea first and I might have some more testing / improvement to do to the pull request.

[2018-06-27 16:30] mmucklo commented on #82
@kralos thus sounds like a reasonable idea.

I think maybe the standard args should be continued as strings until 5.0, however the option for json args and perhaps php serialized args could be added similar to what you have.

[2018-06-27 22:10] kralos commented on #82
The way I've implemented it in https://github.com/mmucklo/DtcQueueBundle/pull/83 there's a new optional option `--json-args` of `-j` which turns on json args mode. NOT using it is deprecated as it will become the default in `v5.x`.

So anyone currently using the old style will still be able to use the old style.

[2018-06-27 22:14] kralos commented on #82
I also thought about using PHP serialized args but they're a lot harder for a human to write on the cli. I think it's acceptable to expect a human to type out json. Usually I find manually enqueuing something I would do after something has gone wrong in my application (an emergency/recovery where a human is typing a command).

[2018-06-28 02:43] kralos commented on #82
@mmucklo I think this is now mergable however it's failing CI because of an unrelated issue with composer in php `7.0`

[2018-06-28 02:55] mmucklo commented on #82
@kralos, let me see if I can get a chance to review it in a little bit.  I may have a change or two to propose.

[2018-06-28 05:09] kralos commented on #82
ok i've simplified `travis.yml` and fixed the issue with composer install on php 7.0

[2018-06-28 07:32] mmucklo commented on #82
I made some comments on the changes.  Thanks for all your work on this btw.

I do thing in general it’s going to be a good enhancement.

[2018-06-28 08:42] kralos commented on #51
Hi all, I just came across this bundle and this issue. I'd like to add my 2 cents.

It's generally a bad idea to mix an application's entity / document manager from doctrine with an ancillary tool such as this queue. The reasons are:

* What this issue it talking about, exceptions in the application affect the queue and vice versa.
* Flushes in the application affect the queue and vice versa.

A b

[2018-06-28 22:24] kralos opened #85 "MongoDuplicateKeyException E11000 duplicate key error collection: jobs.queue_run index: _id_ dup key: { : ObjectId('5b355cbc58004200011ed5a2') }"
`mmucklo/DtcQueueBundle` `4.7.1`
`symfony/symfony` `3.4.12`
`doctrine/mongodb` `1.6.2`
`doctrine/mongodb-odm` `1.2.4`
`alcaeus/mongo-php-adapter` `1.1.5`
`ext-mongodb` `1.4.3`
`libbson` `1.9.4`
MongoDB `3.6.3`
PHP `7.2.6`

Not sure how this is happening yet but i've seen it in multiple environments / servers etc.

I'm starting my runs from crontab like this:

[code]

Problem seems to be hard to re

[2018-06-28 22:52] kralos commented on #85
Okay I just found something very interesting, I located the jobs from run `5b355cbc58004200011ed5a2` and all of them have a different worker name to this exception. I suspect 2 runs fired with exactly the same id and 1 failed to start but another one worked. I'm actually running this in cron:

[code]

project / worker names obfuscated for privacy.

[2018-06-28 23:15] kralos commented on #85
I suspect this issue is caused by http://php.net/manual/en/class.mongoid.php using purely time based Id generation.

[2018-06-28 23:17] kralos commented on #85
See https://jira.mongodb.org/browse/PHP-166

[2018-06-29 01:56] kralos commented on #85
**Proof of bug in or below `mongodb/mongodb` layer**

`test-lib-mongodb.php`
[code]

`crontab`
[code]
(There are 20 entries)

*wait for the next minute*

`mongo cli`
[code]

I have 3 emails from cron errors like this:
[code]

[2018-06-29 01:56] kralos commented on #85
I also tried this at the `ext-mongodb` layer but i cannot reproduce it.

[code]

[2018-06-29 01:57] kralos commented on #85
Since I've proven this is not an issue in `DtcQueueBundle` I'm closing this ticket and re-opening on `mongodb/mongodb`

[2018-06-29 01:57] #85 closed

[2018-06-29 02:00] kralos commented on #85
https://github.com/mongodb/mongo-php-library/issues/556

[2018-07-02 01:20] mmucklo commented on #82
@kralos - Should be merged and everything addressed in 4.8.0.

Please review and confirm.

[2018-07-04 16:14] teratux opened #87 "Problem installing the bundle ..."
Hello, I'm currently testing out the DtcQueueBundle in my Symfony 4.1 project to see if it suits my needs.  I'm following the configuration and installation guide for my Symfony version but there seems to be a problem with the mappings.   This is the output of the command that generates an error:

./bin/console doctrine:schema:update --dump-sql
`There is no column with name 'ended_at' on table 'dt

[2018-07-04 16:28] teratux commented on #87
I noticed in the annotations of the Job, JobArchive, JobTiming, Run, RunArchive, BaseJob and BaseRun entities that the properties that have two words in them, like BaseJob::whenUs, don't have a _"name=''"_ mapping in them.  I added in this case a **name="when_us"** annotation and a similiar annotation in the other entities and the problem dissapeared.  I'm not fond of changing the source code in v

[2018-07-04 17:47] mmucklo commented on #87
@teratux Thanks for the report.

Normally these are auto-converted between camelcase (whenUs) and snake case (when_us) when inserting into the database.  It may be there is some configuration setting that differs on your setup.  I'll try to check to see what it might be.

[2018-07-04 18:01] mmucklo commented on #87
Looks like Doctrine has a naming strategy option: [http://doctrine-orm.readthedocs.io/projects/doctrine-orm/en/latest/reference/namingstrategy.html](http://doctrine-orm.readthedocs.io/projects/doctrine-orm/en/latest/reference/namingstrategy.html)

Okay it looks like I have that "naming strategy" option set on my machine and in the test code.

For my entity manager I have:

[code]

However I think

[2018-07-04 18:18] mmucklo commented on #87
@teratux I've looked around for a column-naming-strategy independent solution to this, but so far I haven't found one.

I may open an issue on Doctrine, but add name= on all the multi-word columns for now.

[2018-07-04 18:49] teratux commented on #87
Ok thanks for the update ...

[2018-07-04 22:55] #87 closed

[2018-07-05 17:32] #82 closed

[2018-07-10 07:06] gszabo opened #88 "Admin pages do not work with psql"
Hello!

I've been only playing with this bundle recently, thank you for your work!

My symfony app already had a psql database, so I wanted to use it for the time of experimenting. Basic job functionality (i.e. running the job) seems to work, but admin pages could not display any data. There seems to be a problem with the SQL query itself.

Is psql supported? Since doctrine supports it, I think th

[2018-07-10 07:13] mmucklo commented on #88
@gszabo - the time series may not work for sure, but let me investigate the rest.  It might be in the grid-bundle.

[2018-07-11 13:23] gszabo opened #89 "Admin pages broken UI"
Hello!

After following the installation instructions, the admin pages look like this:

![image](https://user-images.githubusercontent.com/5555420/42574052-00b96242-851e-11e8-885c-2ba2a311fd42.png)

Navigation header is not styled at all, search box overlaps with table, etc. It seems like some style is missing, but it does not look like the screenshot in the readme.

What could we possibly be miss

[2018-07-12 16:24] mmucklo commented on #89
@gszabo I think it's an issue with bootstrap4.  I'll try to get to it within the next day or so.

[2018-07-13 02:10] mmucklo commented on #88
@gszabo - Thanks for your patience.  I think I have a fix for postgres now (actually it just needs the grid-bundle to be rev'd).  I'm going to work on the other issue soon.

[2018-07-13 02:14] mmucklo commented on #89
@gszabo - I had an error in the dtc_grid.yaml recipe.  I've opened a PR aga

Please try this config for dtc_grid.yaml (config/packages/dtc_grid.yaml):

https://github.com/mmucklo/recipes-contrib/blob/mmucklo/grid-bundle/mmucklo/grid-bundle/4.0/config/packages/dtc_grid.yaml

There's probably some additional nav styling that will have to be fixed afterwards, however.

[2018-07-13 09:21] gszabo commented on #89
Thank you @mmucklo, bumping those bootstrap versions fixed the overlapping issues. As you predicted, the navbar is still unstyled.

[2018-07-13 12:39] gszabo commented on #89
@mmucklo - I played with the `nav.html.twig` file to make it look like the latest bootstrap navigation markup.

This is the result, in case it might be useful. The color and background-color might need to be different to fit into the theme.

[code]

[2018-07-13 16:05] mmucklo commented on #88
@gszabo - can you verify if the postgres issues is fixed after 4.10.0

[2018-07-13 16:11] mmucklo commented on #89
@gszabo Thanks, I'll try to get to it later today if not tomorrow.

[2018-07-15 22:57] mmucklo commented on #89
@gszabo - Thanks for your patience.  I have a fix in the master branch.  I need to create a 5.0 tag, but I'm waiting for https://github.com/symfony/recipes-contrib/pull/420 to be merged first.

[2018-07-15 23:00] mmucklo commented on #88
Actually try 4.10.1

[2018-07-16 08:55] knifeofdreams commented on #89
@mmucklo Thank you so much for being so quick with this fix. We are looking forward to the merge with @gszabo 😊 Have a great week!

[2018-07-21 13:27] mrvnklm opened #90 "Possibility to receive status or progress of running task?"
Hey there,
I was wondering if its possible to set some kind of progress in the task, which can be read from outside using the task id?
Extending the entity to add a entries and processed field seems simple but not sure if this would be the best way of doing this.

I also had a look at other bundles and it seems like its not common to do so, but why?

[2018-07-22 12:26] mrvnklm opened #91 "Issue with Entity Manager when using in worker"
Hey, I inject my entity manager into the worker via dependency injection and I receive following error when running the worker:

Is that because the bundle is using a different em? Actually I configured it to use the default orm.

EDIT:
I figured out passing the class is not a problem, but inside the worker I need to use its own EntityManager like the following:
`public function getProducts(Custom

[2018-08-03 16:12] mrvnklm commented on #41
@mgolshan-talentnet how did you do it? do you understand why you need a second entity manager to run the tasks? facing the same issue and using two entity managers looks quite unnecessary to me.

[2018-09-13 10:17] metalmini opened #94 "Links to assets do not work"
We have a Symfony 3.4 app with Encore and i can't seem to find how i can get the assets in de admin interface to work.

Is there a copy or publish command, or should there be one? These hard coded links to assets or not really necessary, i would think? Or are there CDN urls for the js files?

In jobs_running.html.twig
`<script src="/bundles/dtcqueue/js/jobs.js?v=4"></script>`

[2018-10-10 08:40] zjsxwc opened #95 "Could someone explain what `Batched Job` means?"
Could someone explain what `Batched Job` means?
And when to use the `Batched Job` ?

Sorry for my poor English. I'm not good at English.

[2018-10-10 11:54] zjsxwc commented on #95
did it means that when i get a type job then after i finished this job, the next job i get is still the same type job?

[2018-10-10 13:07] #95 closed

[2018-10-22 01:41] zjsxwc opened #97 "How to let more than 2 processes of same worker run at same time?"
Could i let the `getName()` of my Worker return random Name, and run the corresponding workername processes.     eg:
[code]

and run the processes:
[code]

[2018-10-22 06:32] zjsxwc commented on #97
don't return random worker name, use random worker method name instead:

[code]

[code]

and run the processes:
[code]

[2018-10-22 06:32] #97 closed

[2018-11-08 15:38] mrvnklm commented on #59
I am facing the same issue:
`dtc_queue:
    orm:
        entity_manager: dtc_queue
    manager:
        job: rabbit_mq
        run: orm
        job_timing: orm
    rabbit_mq:
        host: rabbitmq
        port: 5672
        user: guest
        password: guest
    timings:
        record: true
    priority:
        max: 255
        direction: desc
    admin:
        chartjs: 'https://cdnjs.cloudfl

[2018-11-26 08:15] cmaerz opened #98 "Problem with german bundle and microtime"
Hi,

I found an incompatibility with the bundle, PHP 7.2 and the german locale setting.

In the german locale setting the decimal separator is a comma instead of a dot. The system checks for a dot in the microtime what isn't working. If you remove the first parameter at microtime it just returns a string with a . and it should work.

Greetings from Germany,

Christian

[2019-01-02 09:07] imbue opened #99 "Connecting to docker container name as host issues"
Versions
[code]

Is there a way to currently use a (docker) container host name as.. host?
Due to the requirement of providing a port, I'm getting issues with this particular thing.

Imagine having a Docker container
[code]

The following would result into a port requirement error
[code]

Is there a workaround for this? Maybe I'm simply missing something

[2019-01-12 00:21] rrcfesc commented on #99
@imbue  hi there. I have some configuration.
Change job: (orm or rabbitmq) only

[code]
[code]

[2019-01-17 06:52] Siba94 opened #100 "Jobs are queued without method name"
Hello,

While my jobs are pushed into the queue, it goes along with **null** value. Please look into the following snapshot for better understanding.
![selection_002](https://user-images.githubusercontent.com/12645991/51300539-4f349f80-1a52-11e9-9dc4-fe1da35a7157.png)
![selection_003](https://user-images.githubusercontent.com/12645991/51300594-7e4b1100-1a52-11e9-86a2-3335d3ce1bf0.png)
![selection_

[2019-01-17 16:42] rrcfesc commented on #100
@Siba94 now im using this proyect for somethings in my work, can you show us the Worker file and the way about you are calling the job?! maybe i can help you

[2019-01-17 16:57] Siba94 commented on #100
Hello @rrcfesc
`$this->container->get("queue_name")->later(delay_seconds)->methodName(arguments);`
The above mentioned code I used for creating a jobs.
And for processing that jobs I usually run "dtc:queue:run -m no_of_jobs_to_be_processed" inside a cron.
![selection_005](https://user-images.githubusercontent.com/12645991/51334948-e9263780-1aa6-11e9-8acb-aa15f59ff14e.png)
![selection_006](https://

[2019-01-17 21:44] rrcfesc commented on #100
Hi @Siba94  the code:
[code]
are you calling from some Controller?

[2019-01-17 21:45] rrcfesc commented on #100
Version of Symfony??

[2019-01-18 03:46] maikelreyes commented on #91
I'm issuing the same problem...any tips for this?

[2019-01-18 18:45] mrvnklm commented on #91
@maikelreyes Well, I think I've learned that passing objects as argument isn't the best way to go. Especially if you switch from using ORM driven queue to RabbitMQ for example (which I would recommend due to performance and stability), you can't pass objects anymore and you should use IDs. So when I switched to IDs, I haven't had any issues like that anymore.

[2019-01-19 01:09] maikelreyes commented on #89
This issue is already committed?

[2019-01-19 07:05] Siba94 commented on #100
Hello, @rrcfesc @mmucklo can you help me on this?

[2019-01-21 23:31] rrcfesc commented on #100
@Siba94 , im trying to reproduce that, i have a diferent aproach, but, you can send me the service.yml and how is defined, i have a example how im implement

[code]

[2019-01-22 06:02] Siba94 commented on #100
Hi @rrcfesc, getting that issue often. Now It is working fine but still, I don't understand how the jobs are queued without a method name. Is it possible? and I have some questions, please help to get through this. Why do we need pruning for regular jobs? Why stalled feature is there and how it will help? As per documentation, it is there to show how to use but did not cover why do we need that. A

[2019-02-18 15:17] AngryElephant opened #103 "Call to a member function getJobClass() on null"
after creating a job i got this error

`Call to a member function getJobClass() on null
`

Any help ?

Symfony 4

[2019-02-19 00:52] #103 closed

[2019-02-20 10:07] Siba94 commented on #100
Hi @rrcfesc @mmucklo Please explain what does it means when jobs are listed as a status "running"? as I am unable to figure out because lack of information on documentation about it and also please provide some documentation about how later and batch later works.

[2019-03-01 09:34] mastarck opened #104 "How should I run same worker job every 10 seconds"
I need one job (or worker) to run every 10 sec to gather task from DB and create jobs
I created new job via curl every 10 seconds, but it spams DB, can I achieve this easier?

[2019-03-02 22:39] wessel-techtribe-nl opened #105 "concurrent/async jobs"
If multiple jobs are waiting with batch mode = false and each jobs takes 2 seconds, they are executed  sequentially instead of concurrently (asynchronously).

If I run multiple runners (with bin/consoledtc:queue:run) at the same time  concurrent handling works ok, but then batch mode (which should enforce sequentially if I understand it correctly) doesn't work.

This is in symfony 4 with ORM.

Is

[2019-03-06 12:47] BelegUS opened #106 "Idle error in Predis when running DTC command in prod env in supervisord"
Setup to replicate the problem:
- `supervisord` running `dtc:queue:run --env=prod --no-debug` command in "loop" (watching for new jobs to handle)
- `redis` as a job manager in DtcQueueBundle.
- Newest version of DtcQueueBundle `master` branch

Above setup results in error being constantly written to log: `Undefined offset: 0 in {...}/vendor/mmucklo/queue-bundle/Redis/Predis.php on line 188`

Jobs

[2019-03-11 16:26] BelegUS commented on #106
@mmucklo - any chance to get this live? Tests are passing, this is a minor (cosmetic in fact) fix, and it will save us tons of space and keep our logs sane. Now they are overran with those notices. I would prefer to stick to official version, not my fork.

[2019-03-21 04:39] AngryElephant commented on #104
This is an  interesting question

[2019-03-27 12:19] AngryElephant opened #108 "Schedule at specific date"
Is it possible to schedule a job at a specific date ?

[2019-03-31 15:19] AngryElephant opened #109 "Args must not contain object"
My code is working fine when using orm doctrine but When using phpredis i got this error :

``` Args must not contain object ```

Any idea ?

[2019-04-06 02:37] mmucklo commented on #109
@AngryElephant - sorry for the delay - my hands have been a bit tied, I can take a look now, though.

[2019-04-06 02:37] mmucklo commented on #108
Not yet, but we could extend things as such

[2019-04-06 02:41] mmucklo commented on #106
@BelegUS sorry for the delay, my hands were tied up until now.

[2019-04-06 02:48] mmucklo commented on #104
@mastark This is not yet supported, but would be an interesting enhancement.

[2019-04-06 02:49] mmucklo commented on #100
@Siba94 sorry for the delay - my hands have been tied for months now - are you still having this issue?

[2019-04-06 04:28] Siba94 commented on #100
@mmucklo yes, sometimes and also there are jobs with status **running** in my all jobs section but nothing happened to them for a long time. Can you help me with this?

[2019-04-06 06:33] mmucklo commented on #98
@cmaerz sorry for the delay, I've been tied up for months now. I think I can fix this, yes

[2019-04-08 06:04] mmucklo commented on #108
@AngryElephant support is available for the following job managers:

- ODM
- ORM
- Redis

Instead of using ->later(...), use the function ->at(<unix-epoch-time-in-seconds, or even microseconds in a float>)

[2019-04-22 11:05] BelegUS commented on #106
Thanks, @mmucklo! I changed the company in the meantime, but they will be happy this went live ;) Thanks for nice library!

[2019-04-22 11:15] #106 closed

[2019-04-25 13:11] AngryElephant commented on #109
As the error said, i should not pass an object as argument to the worker.

[2019-04-25 13:11] #109 closed

[2019-05-09 05:03] #108 closed

[2019-06-23 02:46] mmucklo commented on #98
@cmaerz

I tried to reproduce this a bit, but even when I change the locale to German, microtime() still returns a '.'

[code]

[code]

I think the code you're referring to is here (in Util/Util.php):

I could change the strpos to look for '.' or ',' I suppose which could work, but I'd be curious as too what your (or anyone else's) microtome is returning.

[code]

[2019-06-25 08:35] cmaerz commented on #98
Hey,

tbh I have no idea how i fixed that after all. Maybe just add the check for both '.' and ',' is a good idea. As it doesn't break anything.

I had this problem on two different projects and different servers. Maybe it has something todo with the framework i use. http://www.pimcore.org/

Thanks for your help.

[2019-07-02 13:32] stoildobrev opened #112 "Job Manager is null"
nm - delete it

[2019-07-04 08:16] #112 closed

[2019-07-04 08:23] mmucklo commented on #100
@Siba94 I feel bad - I just saw your response now - if a job is killed or dies in the middle (OOM error, or Segfault, uncaught exception, power reboot, etc.) the job will be stuck in running.

The Running status gets set as soon as the job starts. When a job is finished (without causing a segfault / etc.) the status is supposed to get set to Finished or Error.

If you just want a one-time reset to

[2019-07-09 06:17] mmucklo commented on #98
@cmaerz Ok, I tried, tried, and tried to reproduce this.

I eventually compiled PHP from source, and traced things out.

microtime() will never output a comma, it will always be a decimal at least through the present version of PHP.

It's a feature/bug traced down to this line of code which checks that the format specifier is "f" before it pays attention to LOCALE specific decimal point options (o

[2019-07-09 06:19] mmucklo commented on #98
@cmaerz Is it possible that it was how things were being passed elsewhere (maybe to mysql?) as I'm pretty sure it's not the getMicrotimeStr() function anymore.

[2019-07-09 06:47] mmucklo commented on #98
@cmaerz On the microtime() formating issue I did file a php bug here: https://bugs.php.net/bug.php?id=78265

This is not the issue you were encountering, however, which makes me suspect the database layer or some other hand-off point rather than the '.' search.

I could probably add the ',' check into the code (or do something similar) just to be extra safe (in case they actually fix the PHP bug)

[2019-07-09 15:35] mmucklo commented on #98
@cmaerz Turns out the PHP "bug" is actually expected behavior at least as of 7.3.

I'm still tracing to see if I can reproduce things in 7.2 or lower (as the implementation of microtime changed slightly). Any other insights you have would be great.

[2019-07-11 07:54] mmucklo commented on #98
@cmaerz Just an update - I traced back into 7.2 and it does use a different printing function, but it leads to similar PHP-style formatting code as it calls an overridden system function (snprintf) to do the formatting which apparently PHP internals redefines (http://www.phpinternalsbook.com/php7/internal_types/strings/printing_functions.html).

In other words, I'm fairly sure that microtime() onl

[2019-07-11 09:02] cmaerz commented on #98
Hey,

Sorry for the delay.. was on holidays for two and a half weeks and I'm deep into a customer Project currently.

I can't reproduce it either now. I downgraded that server to 7.2 and it still seems to work. I'm 100% sure that problem was real cause i had that same struggle on two different projects, maybe some patch release fixed it in the meantime.

I had the Problem when the Locale was on de

[2019-07-12 08:47] mmucklo commented on #98
@cmaerz believe it or not, I think I may have fixed it.

I checked in the changes into master, but haven't tagged the branch yet as I'm trying to run the test suite against the German locale.

Presently I'm hitting a memory issue on my local machine running 7.3.6 in a docker container configured for the de_DE locale, however the Travis tests up through 7.2 are passing, so I don't think anything is

[2019-07-15 22:56] DanielAGW opened #113 "Remove dependency on DtcGridBundle"
Hi there,
First of all, thanks for great library, we're just implementing it and we will have it running on production shortly.

The minor problem we are experiencing is that we are trying to create our application as small as possible, but DtcQueueBundle seems to include many unnecessary dependencies. Our app is strictly REST API with JSON responses and DtcQueueBundle on the backend running jobs.

[2019-07-16 05:37] mmucklo commented on #113
That's interesting.

I could perhaps make DtcGridBundle optional or suggested (and detect it as a requirement for admin pages). I'm in the middle of a debugging session with the german locale and the latest MySQL, once I finish that, I was planning on some composer changes anyway, so I could try to slot that in for the next release.

[2019-07-19 15:52] i-telligence-af commented on #98
I'm having the same issue, also using Pimcore.

Running Symfony commands works fine, but when going through a http request I'm having the same problem. That is a bit strange, because I'm using the same PHP executable in both cases and date_default_timezone_get() returns "Europe/Berlin" in both cases.

I tried dev-master, but unfortunately that didn't help either.

[2019-07-20 06:13] mmucklo commented on #98
@i-telligence-af I've discovered the problem goes a bit deeper.

Doctrine seems to have some kind of bug as far as I've ascertained that converts floats into numbers with ',' instead of the SQL standard '.' in the german locale.

I have a patch to DtcQueueBundle to work around the issue, perhaps, but I was working on a submission to the Doctrine folks so they could fix/address the issue.

You're w

[2019-07-22 09:42] i-telligence-af commented on #98
@mmucklo thanks for the quick response!

Your patch seems to work :) I'll continue using it for now. Let me know if you want to submit it to master, and eventually a new release. I'll switch back then.

Thanks again!

[2019-07-22 15:07] mmucklo commented on #98
@i-telligence-sf I’m still trying to reproduce this in a vanilla doctrine install. I can let you know once I have the root cause narrowed down, and at that time determine what sort of “permanent” fix is appropriate, although likely either way something will get merged to master.

[2019-07-23 06:02] mmucklo commented on #98
@cmaerz and @i-telligence-af:

It's a doctrine bug in the Mysqli driver. I've submitted a bug report to doctrine that should be appearing on this issue now. For now the work around branch should work, but I may merge it to master if the doctrine folks don't respond to the bug quickly enough.

[2019-07-24 05:03] mmucklo commented on #98
@i-telligence-af

Okay, I created a new branch with a more permanent fix. When the tests pass, I will merge it. There will be a flag in the configuration called "locale_fix" which you'll need to set to true:

[code]

This will turn the ORM fix behavior on.

[2019-07-25 04:35] mmucklo commented on #98
@i-telligence-af

I've merged my changes into the main branch and tagged things as release 5.1.1.

Please let me know if setting **locale_fix: true** works for you.

[2019-07-25 04:53] mmucklo opened #115 "Remove 5.6 and 7.0 support"
PHP 5.6 and 7.0 are EOL - https://www.php.net/supported-versions.php

It's time to up our minimum version requirements. Removing 5.6 support also opens up the door for us to use native type hints, return types, and with 7.1 nullable types as well.

[2019-07-25 09:00] i-telligence-af commented on #98
hey @mmucklo , it works, many thanks!

[2019-07-25 14:28] #98 closed

[2019-07-25 14:31] mmucklo commented on #113
@DanielAGW I've created PR #116 which should address this.

[2019-07-26 04:58] #115 closed

[2019-07-26 05:07] mmucklo commented on #105
@wessel-techtribe-nl Sorry for the delay in response.

This is correct

No batch mode doesn't enforce the order. What batch mode does is if you submit multiple jobs with the same arguments, and they are all waiting to get executed (say the queue is backlogged by 1000 jobs), the jobs with the same arguments will all "clump" or "batch" together as one job (with only a single execution). Perhaps "bat

[2019-07-26 05:12] mmucklo commented on #94
@metalmini I think someone fixed this? in PR #93 maybe?

If you're still using the bundle could you verify (sorry I was not able to respond when you wrote in about this).

[2019-07-26 05:13] mmucklo commented on #89
This should be fixed by now. Please reopen or create a new issue if not.

[2019-07-26 05:13] #89 closed

[2019-07-26 05:18] mmucklo commented on #90
@mrvnklm Just reviewing older issues. Not sure if you're still using the bundle right now, but this is a potential enhancement. The job has a status field such as 'success', 'exception, 'new', 'running', 'failure'.

It wouldn't be terribly hard to have a Progress field - like a counter, that one could update with the progress of the job, but it would have to be done by the job itself as the worker

[2019-07-26 15:11] mmucklo commented on #113
@DanielAGW This has been merged. Could you verify that the issue is fixed for you?

[2019-07-29 06:25] #94 closed

[2019-07-31 09:21] salamichel opened #117 "Unable to install on sf4 - Attempted to load class "GridSourceCompilerPass" from namespace"
When `composer require mmucklo/queue-bundle` i'm getting ' Fatal error: Uncaught Symfony\Component\Debug\Exception\ClassNotFoundException: Attempted to load class "GridSourceCompilerPass" from namespace "Dtc\GridBundle\DependencyInjection\Compiler".'

I'm under symfony 4.3

Regards
--------

$ composer require mmucklo/queue-bundle
Using version ^6.0 for mmucklo/queue-bundle
./composer.json has bee

[2019-07-31 13:35] salamichel commented on #117
Found package was missing https://github.com/mmucklo/DtcGridBundle

[2019-07-31 13:35] #117 closed

[2019-08-01 06:51] DanielAGW commented on #113
So sorry for the delay, I must have turned GitHub notifications off! We'll be updating our packages early next week so I'll definitely report it here.
Thank you so much for amazing support. I'm glad you liked the idea of separating these two.

Cheers!

[2019-08-06 00:02] DanielAGW commented on #113
@mmucklo  Looks and works great, thank you so much! Highly appreciated.
One sidenote, though. Each time we run `composer update` your lib is still creating `public/bundles/dtcqueue` directory, even though there is no need for it. Not a big problem, though, we added it to gitignore.

Thank you!

[2019-08-06 04:16] mmucklo commented on #113
I'm not sure yet if there's an easy way to turn off public/bundles/dtcqueue from getting created, although I can check into it.

[2019-08-07 13:08] Sh1d0w commented on #113
@mmucklo Thanks. However if I update to version 6 and don't install the grid package I get the following error:

[code]

[2019-08-11 06:23] mmucklo commented on #113
@Sh1d0w Sorry for the delay in reply. For ORM and ODM it's still required to have mmucklo/grid-bundle installed.

I need to look into a way to decouple this if possible.

[2019-08-11 13:52] mrvnklm commented on #90
@mmucklo not using the bundle anymore, because I switched to Laravel.
I thought of a design like https://github.com/imTigger/laravel-job-status for anyone whos further looking, making am PR for that bundle might not be hard work, when you follow what imTigger did

[2019-08-12 07:15] mmucklo commented on #113
@Sh1d0w I think I may have fixed it in the 6.0.2 release.

Let me know if it works out for you. In the mean time I'm trying to setup a test locally.

[2019-08-13 04:59] Sh1d0w commented on #113
@mmucklo Thanks for the quick response! All working good now  👍

[2019-08-13 06:03] Sh1d0w commented on #113
Actually, still getting the error:

[Doctrine\Common\Annotations\AnnotationException]
  [Semantical Error] The annotation "@Dtc\GridBundle\Annotation\Grid" in class Dtc\QueueBundle\Entity\Job does not exist, or could not be auto-loaded.

:(

[2019-08-13 06:11] Sh1d0w commented on #113
@mmucklo I guess the problem here is because if we don't install the package, you don't have the annotation itself, and it tries to load the annotation class before IgnoreAnnotation.

Can't we just remove this functionality from this package, I think the admin panel for monitoring the queues should be complete ely distinct and optional feature, possibly provided as separate bundle instead of shipp

[2019-08-13 07:54] mmucklo commented on #113
@Sh1d0w I'm able to reproduce this now, working on a fix. Give me a couple of days or so.

[2019-08-15 07:32] mmucklo commented on #113
@Sh1d0w I've spent a little time on it now - it looks like this will require removing the DtcGridBundle annotations as there's no real way to completely ignore them as I thought at first (the @IgnoreAnnotation and related methods don't appear to work in that manner).

I'm going to look into removing the annotations and getting their effect a different way, but it may take a little more time, maybe

[2019-08-15 08:04] Sh1d0w commented on #113
@mmucklo Great thanks for your time looking into this! I am really looking forward to it! Thanks for the quick responses in this thread.

[2019-08-26 09:12] klodoma opened #118 "Detached entity Dtc\QueueBundle\Entity\Job cannot be removed"
Hi,

I just gave a shot to this bundle, but I'm getting this error.
Seems related to #41 even, a duplicate maybe.

[code]

I looked at #41 but I didn't understand. Yes, I do update an entity in the worker process.

Any ideas?

[2019-08-26 09:19] klodoma commented on #118
Also related to #91

[2019-08-26 09:26] klodoma commented on #118
Duplicate of #91. Continuing in #91.

[2019-08-26 09:26] #118 closed

[2019-08-26 09:37] klodoma commented on #91
Ok, I kind of understand what happens.

In my case I passed an entity object to the worker. Indeed the worker uses a different entity manager, because it's a different PHP process, it makes sense.

Not sure if "passing objects as argument isn't the best way to go", but indeed this can be very tricky, depending on what is passed on.

[2019-08-27 10:16] klodoma opened #119 "Some Questions, log capabilities, hanging processes"
I am evaluating this bundle, I have several questions

1. Are there any log capabilities for a job? I see there is a message, but I couldn't find an example of using it.
2. If the "daemon" dies with error, and the job was "running" it just stays running 4ever. Should we periodically check for errors or what is the idea?
3. Can we kill jobs?

[2019-08-27 10:26] klodoma opened #120 "The "--max_count" option does not exist."
Executing

`bin/console dtc:queue:run --max_count 20 -v -t 3600`

you get the error
[code]

![Screenshot_442](https://user-images.githubusercontent.com/944350/63763902-f077b400-c8c5-11e9-8c67-854f513f1d44.png)

[2019-08-30 06:59] mmucklo commented on #120
Sorry, the documentation was wrong, the option should be:

[code]

(dash instead of underscore).

I've updated the README.md to reflect that.

[2019-08-30 07:13] klodoma commented on #120
Oh, oki doki. Thanks!

[2019-08-30 07:13] #120 closed

[2019-08-30 07:17] mmucklo commented on #119
@klodoma Let me try to answer your questions:

   1. You can use setMessage() to set a message on the currently running job that should get persisted when the job is finished / archived, otherwise if there's an exception during the running of the job, the job's message should have the details of the exception recorded. However other than that you'll just need to log to stdout  / stderr and pick it

[2019-08-30 07:21] klodoma commented on #119
@mmucklo great!

Thanks a lot for the comprehensive answers.

I like this bundle, I think it has a lot of potential and it achieves already a lot of stuff. I also have several use-cases where I can use it, I'll try to provide some feedback withing the next months.

Thanks again.

[2019-08-30 07:21] #119 closed

[2019-08-30 07:21] mmucklo commented on #119
@klodoma

Thanks for the feedback, hope it works out for you.

[2019-09-11 12:51] Sh1d0w commented on #113
@mmucklo Do you have any update on this?

[2019-09-12 05:23] mmucklo commented on #113
@Sh1d0w I got a little busy the end of last month, but I've been steadily working on DtcGridBundle recently, but it's just taking a little longer than I expected.

Thanks for your patience.

[2019-09-12 05:25] Sh1d0w commented on #113
@mmucklo No worries, just wanted to get update, please don't feel pressured on this. Really appreciate you putting time into this. Thanks!

[2019-10-03 20:19] thorau opened #121 "Not compatible to doctrine/mongodb-odm 2.0"
The current Version 6 is not compatible to doctrine/mongodb-odm 2.0.
Are you planning to make the bundle compatible to doctrine/mongodb-odm 2.0 in the near future?

[2019-11-08 13:18] vcsvinicius opened #122 "Migration"
Hi,

My application doens't use migration, i'm using liquibase.
I can't create migration because my application doens't prepare to migrate, when a i try to use migration many errors happens.

Do you can send the dump the tables?

[2019-11-14 06:58] mmucklo commented on #121
@thorau sorry for the delay, I was pretty busy the month of October - yes that's possible, but you're also welcome to submit a PR if I don't get to it soon enough for you.

[2019-11-14 07:05] mmucklo commented on #122
@vcsvinicius - Ah, I haven't dealt with that before.

What happens if you do a:

[code]

When I run it on my testing setup I get something like:

[code]

[2019-11-14 13:51] vcsvinicius commented on #122
@mmucklo I using liquibase, so, when I try use this commands errors happen because my application doesn't prepare to use this.

To resolve this I started a new project with Symfony only to execute this commands e get the query.

[2019-11-29 12:44] klodoma opened #123 "TypeError In DtcQueueListener.php line 31:"
I just upgraded to Symfony 4.4 and I am getting this error:

[code]
If I remove the RegistryInterface typeconstraint, seems to work.

![Screenshot_490](https://user-images.githubusercontent.com/944350/69869824-42a5e800-12ae-11ea-8781-71b91d9e0eff.png)

Any ideas?

[2019-11-29 13:15] klodoma commented on #123
It has to do something with doctrine/doctrine-bundle > 2.0

If I enforce this in composer.json, then it works
`"doctrine/doctrine-bundle": "^1.12",`

[2019-11-30 06:07] mmucklo commented on #123
@klodoma looks like I'll need to update the libraries on this bundle for 4.4 compatibility. Thanks for the heads up.

[2019-12-03 20:00] klodoma opened #124 "Running even though there are no jobs available?"
I am not sure since when this is happening, but I think it has something to do with the latest upgrade.

If I run
[code]

then I get the following logs, although there no jobs in queue or whatsoever.
dtc_queue_job, dtc_queue_run tables are empty.

Does this make sense?

[code]

[2019-12-04 08:22] mmucklo commented on #124
@klodoma It looks like it's lost it's handle to an entry in the dtc_queue_run table.

Every time run is called it's supposed to create an entry in dtc_queue_run. It then is supposed to update that entry with a heartbeat while the job cycles (that's the UPDATE you're being).

Then it will continually poll the database for new jobs (that's the SELECT... you're seeing).

These debug messages are corr

[2019-12-05 08:37] klodoma commented on #124
dtc_queue_run has the entry, sorry I overseen that.

Ok, I had a look at the code and how it runs. So far it all makes sense.

Are there so many real-life use-cases are there in order to run this loop so often(a frw times / second), especially the sleep time if no jobs are available, especially, running a database query to see if it needs to run?
[code]

Practically, this solves the "watch or moni

[2020-01-02 07:18] mmucklo commented on #121
@thorau - Should be fixed as of version 6.0.3

[2020-01-02 07:18] #121 closed

[2020-01-02 07:18] mmucklo commented on #123
@klodoma - Should be fixed as of version 6.0.3

[2020-01-02 07:18] #123 closed

[2020-03-17 07:51] tillmannr opened #125 "Is there a way to get the status of a job by the job id?"
We are using redis and trying to implement a polling logic, so we need to tell if a job is currently being processed. Is there a way to do it?

[2020-03-18 07:15] mmucklo commented on #125
@tillmannr From the code paths it doesn't seem like I track the currently running job in Redis.

This could be a feature that could be implemented however.

[2020-03-18 08:04] fliespl opened #126 "Incorrect timezone in Util::getMicrotimeFloatDateTime"
When using createFromFormat with microtime there is an issue with it that it ignores timezone in such case.

Correct behaviour is to:
- create DateTime object without setting timezone
- setting timezone using setters

Current DTC way:
[code]

Result:
[code]

Setting timezone using setter.
[code]
Result:
[code]

I can create pull request if requested.

[2020-03-18 08:51] mmucklo commented on #126
Wow,

I just reproduced that as well:

[code]

[code]

It's odd because the spec for createFromFormat takes a DateTimeZone object as the third parameter:

https://www.php.net/manual/en/datetime.createfromformat.php

[2020-03-18 08:59] axxox commented on #126
@mmucklo Check the note in `timezone` parameter description: Note:

That's why current solution doesn't work.

[2020-03-18 09:39] fliespl commented on #126
Looks great - thanks!

[2020-03-18 09:40] #126 closed

[2020-03-18 10:46] mmucklo commented on #126
Should be fully fixed as of version 6.0.6.

[2020-03-26 04:22] mmucklo commented on #113
@DanielAGW, @Sh1d0w I don't know if either one of you are still using the bundle, but after a significant effort, I finally have this working.

I've removed the Annotations from the files and now use a new yaml file loader I developed in grid-bundle to pass the column definitions, when the grid-bundle is in use.

I've verified locally that decoupling does appear to work.

[2020-03-31 19:26] thorau opened #128 "Cancel/delete jobs"
Hi,

is it possible to cancel/delete jobs, that have status "new"?

I am using redis as job manager.

Reason: On my website users can create hundreds of jobs with one button click. The jobs are long running. I need a solution to cancel the waiting jobs in case the user accidentially clicked the button.

Do you have any ideas to solve this?

[2020-04-02 09:05] mmucklo commented on #128
@thorau it looks like I’d have to implement a special method in the Redis JobManager to allow this sort of thing.

[2020-04-02 11:06] thorau commented on #128
@mmucklo That would be really great.

[2020-04-22 23:10] astrogin opened #129 "Beanstalkd Error"
Hello.
pheanstalk version ^4.0 doesn't support the method putInTube. But in new versions of the package, it still using.

[code]

The package part

[code]

[2020-04-23 14:00] mmucklo commented on #129
@astrogin Thanks for letting me know. I'll try to take a look today or maybe tonight.

[2020-04-23 14:41] mmucklo commented on #129
Fixed.

[2020-04-23 14:41] #129 closed

[2020-05-15 09:55] kevin-ian opened #130 "Can't seem to figure out batch mode"
Hi,

I searched everywhere, but couldn't find an answer. Below is the code I'm using to create batch.

[code]
I have two job with the same method name in the table `dtc_queue_job`

But when I run `php bin/console dtc:queue:run`, only one job is executed, and then it stops there. The other job is still flagged as `new` .. I have to run the command once again.

I thought batch mode would run all job

[2020-05-15 10:17] kevin-ian commented on #130
Maybe it's because the two jobs doesn't have the same arguments.

[2020-05-16 05:25] mmucklo commented on #130
That’s correct, the check for batch includes the arguments.

[2020-05-18 14:51] kevin-ian commented on #130
Yes, thanks. I'm closing this.

[2020-05-18 14:51] #130 closed

[2020-06-10 01:44] #113 closed

[2020-08-10 12:31] bramalho opened #132 "Error using this bundle without GridBundle"
Due to the fact that you are using GridBundle in ODM LiveJobsGridSource.
I suggest adding this GridBundle to the composer

https://github.com/mmucklo/DtcQueueBundle/blob/2f78cf07b525e84d57f1020bfcd439881af62a44/ODM/LiveJobsGridSource.php#L6

[2020-08-14 10:22] mmucklo commented on #132
Hi, does this come up only if you use the admin interface or elsewhere?

The admin interface does depend on GridBundle, but I had a request some time back to decouple this bundle from the GridBundle for those that don't use the Admin interface, so it's not a strict requirement.

[2020-08-17 08:18] bramalho commented on #132
Hi,
This triggers an error when I try to use this bundle standlone.
For the time being I added the GridBundle and without registering it, that's ok because I'm using ORM, not ODM

[2020-08-31 17:20] kgrycuk opened #134 "Doctrine argument type error"
I used this bundle in a similar project a couple months ago without issue, but now I have several type errors with Doctrine related classes and functions.

Here is an example of an error after running a `php bin/console` on fresh symfony project.
[code]

Steps to recreate:

1.  Create new symfony project `symfony new project-name --full`
2. Allow contrib as per Dtc documentation `composer config e

[2020-08-31 17:31] kgrycuk commented on #134
I already investigated a bit.

The `Doctrine\ORM\EntityManager` implements the `Doctrine\ORM\EntityManagerInterface`.

The `Doctrine\ORM\EntityManagerInterface` extends the `Doctrine\Persistence\ObjectManager`.

So technically, an `EntityManager` object should suffice as an `ObjectManager`, and if you go through the vendor folder and replace the use statements so that an `EntityManager` object is

[2020-09-01 03:59] mmucklo commented on #134
ok, let me take a look.

[2020-09-01 04:32] mmucklo commented on #134
@kgrycuk Please try now?

[2020-09-01 07:19] Mycw1991 commented on #134
@mmucklo I also got the issue @kgrycuk got. I upgraded to version 6.3.0 of this bundle but got the following error :

[code]

[2020-09-01 16:04] mmucklo commented on #134
@Mycw1991 I made a few updates, could you try now?

[2020-09-01 17:10] kgrycuk commented on #134
after a composer update, php bin/console works just fine.

[2020-09-01 19:50] Mycw1991 commented on #134
@mmucklo I can confirm that there are no errors on 6.3.1 . Thank you for your quick response.

[2020-09-09 12:59] xYundy opened #135 "Daemon mode"
There is any way (or maybe it's need to be implemented) to launch worker in daemon mode?

 I want to run worker which will works infinite amount of time (if there is no job it will be waiting for job. After job, process will quit. (So I can restart it with supervisord for example)

Something like in Laravel Horizon for example.

In their package I can run master process which control of creating w

[2020-09-25 12:59] Tanariel opened #136 "The controller for URI "/dtc_queue/" is not callable: Class "dtc_queue.controller.queue" does not exist."
Hello,

I'm using Symfony 3.4 and i'm getting this error with the bundle installed as version 6.3.1

I registered the bundles and i imported the routes but i can't figure out why this is happening.

[2020-09-25 13:49] Tanariel commented on #136
Downgrading to version 5.1.1 is solving the problem, i guess that version 6 is not anymore compatible with SF 3.4 ?
If this is intended, should we update the composer.json or ?

[2020-09-25 14:12] Tanariel commented on #136
ok downgrading to version 5.1.1 gets me acces to the routes but generate a new error :

Attempted to call an undefined method named "setAnnotationReader" of class "Dtc\QueueBundle\ORM\LiveJobsGridSource".

[2020-09-25 14:39] Tanariel commented on #136
So if you downgrade to version 5.1.1, you have to downgrade the grid bundle too to version 5.1.1 otherwise it will install the version 7 and generate this error.

[2020-10-01 12:26] vigneshnallamad commented on #112
Sorry to activate a closed thread. I'm facing the same issue. Any help or insights on how you solved it?

[2020-11-02 02:49] nico-dangerous opened #137 "Missing dot before alias"
https://github.com/mmucklo/DtcQueueBundle/blob/8943f2c0787868ae5a2e6357e0a079055eb593a9/DependencyInjection/Compiler/RedisCompilerPass.php#L48

There is a missing dot '.' before the $alias variable.

Results with this configuration :
redis:
        prefix: dtc_queue_
        snc_redis:
            type: predis
            alias: default

The service "dtc_queue.manager.job.redis" has a dependency o

[2020-11-02 15:02] nico-dangerous commented on #134
Hi,

I got this problem with 6.3.1.
mmucklo/grid-bundle                     7.1.0
mmucklo/queue-bundle                    6.3.1

Argument 1 passed to Dtc\GridBundle\Grid\Source\AbstractDoctrineGridSource::__construct() must be an instance of Doctrine\Common\Persistence\ObjectManager, instance of Doctrine\ORM\EntityManager given, called in /home/vagrant/iam/vendor/mmucklo/queue-bundle/ORM/LiveJobsG

[2020-11-09 07:44] #137 closed

[2020-11-09 07:54] mmucklo commented on #134
@nico-dangerous Could you confirm if the recently committed fix in 6.3.3 works?

[2020-11-09 14:44] nico-dangerous commented on #134
Hi,

The error is gone.

But I hae a new one :
[code]

Maybe I should open an issue in dtc grid bundle repo ?

[2020-11-10 05:17] mmucklo commented on #134
@nico-dangerous - Okay, I made another adjustment, could you test now?

[2020-11-10 05:57] mmucklo commented on #136
@Tanariel Sorry for the delay - I made version 5.1.2 specifically for this purpose. Making things backwards compatible with 3.4 might be challenging going forward. I need to check more if it's possible.

[2020-11-10 08:15] Tanariel commented on #136
@mmucklo Thanks a lot!

[2020-11-17 13:22] carlos-granados opened #138 "Command calls undefined `getContainer` function"
The `setLoggerService` function in the run command calls the `getContainer()` function which no longer exists because the command no longer extends the ContainerAwareCommand class

[2020-11-20 08:04] mmucklo commented on #138
@carlos-granados can you try with the latest version?

[2020-11-20 08:10] carlos-granados commented on #138
@mmucklo yes, all good now :-)

[2020-11-20 08:38] carlos-granados commented on #138
@mmucklo Actually, it would be useful if the runLoop, logger and container properties were protected instead of private. This would allow us to easily extend this command.

[2020-11-20 08:39] carlos-granados commented on #138
Either that or add some getters

[2020-11-23 21:07] inmarelibero opened #139 "Error when extending Job class"
When following https://github.com/mmucklo/DtcQueueBundle#rename-the-database-or-table-name, I get the error `The table with name 'dtc_queue_job' already exists.`

__config/packages/dtc_queue.yaml__
[code]

__src/Entity/DtcJob.php__
[code]

I guess that Doctrine tries to load my class AND the Job class in the bundle, generating exception correctly because there cannot be two entities with the same

[2020-11-25 13:51] carlos-granados opened #140 "Trends controller complaining about missing classes which are not needed in an ODM setup"
The Trends controller is checking if these classes exist:
`Oro\ORM\Query\AST\Platform\Functions\Mysql\Year`
`DoctrineExtensions\Query\Mysql\Year`
However, these two classes are only needed if you are using SQL. If you are using MongoDB to save your data these classes are not needed and this check should not be performed

[2020-11-25 15:43] carlos-granados commented on #136
@mmucklo I think that to solve the `Class "dtc_queue.controller.queue" does not exist` error you just need to change
[code]
to
[code]
(notice a single `:`) as this is the syntax when you use a service name for the controller. Tested on Symfony 3.4 and working fine, haven't been able to test in later versions

[2020-11-25 16:57] mmucklo commented on #136
@Tanariel and @carlos-granados please try version 6.4.0 with the suggested patch applied.

[2020-11-26 06:43] mmucklo commented on #140
@carlos-granados Thanks for pointing that out. I tried to make a comprehensive fix, but I need to get a test environment setup to make sure I didn't break anything.

So far I've just left it in the trends-controller-platform-fix branch and created PR #141 for it.

[2020-11-30 08:19] inmarelibero commented on #139
@mmucklo up

[2020-12-02 12:33] carlos-granados opened #142 "The documentation provides an example that does not return the right values"
Any worker should return `Worker::RESULT_SUCCESS` or `Worker::RESULT_FAILURE` to define if it was successful or not (or not return anything if we want to count all executions as successful). In the example shown in the readme the `fibonacci` function returns an int. If you call it with the value `1` it will return `1` and this will be interpreted as a job failure. This should be modified to show t

[2020-12-02 12:57] carlos-granados opened #143 "The bundle is still not fully decoupled from DtcGridBundle"
The `queue.yml` config file loads  4 `grid_source` services which are implemented in classes that need the Grid bundle to be installed. If you don't install it the container generator will fail when trying to generate these services. Not really sure how to fix this

[2021-03-04 09:23] #132 closed

[2021-05-11 14:23] carlos-granados opened #145 "The processPhpRedis function in the compiler pass is called even if Redis is not available"
In the Redis compiler pass we do this check:

[code]

The problem is that this parameter will always be set. It will just be null if PHP Redis is not available. In this case the compiler will add a definition with a class that does not exist. This is not a problem other than having an invalid definition as long as you don't try to use it. But this breaks the `lint:container` Symfony command which

[2021-05-18 19:23] mmucklo commented on #145
Should be fixed in version 6.6.0.

[2021-05-20 05:21] #134 closed

[2021-05-20 05:22] #136 closed

[2021-05-20 05:23] #140 closed

[2021-05-20 05:32] mmucklo commented on #143
@carlos-granados I think this is now fixed, please let me know.

[2021-06-03 07:03] #145 closed

[2021-06-04 13:50] GuilhermeDemoliner opened #149 "Undefined method named "parseFile""
When I try to clear the cache with `php bin/console cache:clear --env=prod` I get the error  `[console] Error thrown while running command "cache:clear --env=prod". Message: "Call to undefined method Symfony\Component\Yaml\Yaml::parseFile()" ["error" => Error { …},"command" => "cache:clear --env=prod","message" => "Call to undefined method Symfony\Component\Yaml\Yaml::parseFile()"] []`

I sought a

[2021-06-04 16:01] mmucklo commented on #149
@GuilhermeDemoliner thanks for your bug report. I recommend symfony 3.4 at least with this bundle, that being said if you upgrade DtcGridBundle (mmucklo/grid-bundle) to the latest version 7.3.0 this error should now go away as I put in a quick patch.

[2021-07-06 15:08] kgrycuk commented on #135
Here is a supervisord worker.ini example that runs on loop forever.

The key is setting the autorestart to true.

[code]

[2021-07-15 15:31] mmucklo commented on #149
@GuilhermeDemoliner is everything working now?

[2021-08-17 02:23] #149 closed

[2021-08-17 02:23] #143 closed

[2021-08-17 02:24] mmucklo commented on #139
@inmarelibero Sorry for the delay, I recall looking into this a while back, but I didn't have a viable solution at the time.

I'm open to suggestions.

[2021-10-03 19:13] xYundy opened #150 "Soft stop of queue worker - Support for pcntl signals (For ex. stopping from supervisor or by SIGTERM)"
Hey! For now when you use supervisor or if you wanna try "soft stop" the queue worker by SIGTERM it will be killed/exited immediately.

I think app should support SIGTERM (or maybe others) signal and stop the process after finish currently running task.

It will be helpful for ex when you release new version of application and you want to stop, upgrade and restart queue workers without loosing or

[2022-03-03 14:25] maikelreyes opened #151 "messages_unacknowledged in RabbitMQ"
After upgrade the rabbitmq service to version 3.9.13 some long tasks leave the messages in the queue as unacknowledged, causing the same task repeats undefinitely...

There is some solution for this case?